{% extends 'base.html' %}



{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Username Checker</h1>
        <p class="lead">Enter Your Username (end with a number, has upper and lowercase letters)</p>
        <hr class="my-2">
        <form action="{{url_for('report')}}">
            <label for="username">Username</label>
            <input type="text" name="username">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}