<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my page</h1>
    <h2>My name is {{myname}}</h2>

    <ul>
        {% for element in mylist %}
              <li>{{ element }}</li>  
        {% endfor %}
    </ul>

    {% if 2 in mylist %}
            <p> I see you number 2!</p>
    {% else %}
            <p>Where is number 2?</p>
    {% endif %}
</body>
</html>